:root {
    --color-primary: #ffffff;
    --color-primary-hover: #f0e0f0;
    --color-background: #2f2235;
    --color-surface: #2f2235;
    --color-accent: #b49bbf;
    --color-border: #b49bbf;
    --color-text: #ffffff;
    --color-text-muted: #f3d5f5;
    --color-nav-bg: #BFC3BA;
    --color-nav-text: #ffffff;
    --color-status-open: #ffffff;
    --color-status-open-bg: #60495A;
    --color-status-construction: #ffffff;
    --color-status-construction-bg: #3F3244;
}