/* utilities.css */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }